/*? Variable */
:root {
  --font-color: #333;
  --white: #fff;
  --main-color: #fac800;
  --shadow: rgba(0, 0, 0, 0.075);
  --primary-color: #f7f7f7;
}
/** fonts */
@font-face {
  font-family: "mikhak";
  src: url(../fonts/Mikhak-Medium.ttf);
  font-display: auto;
  font-style: normal;
  font-weight: 400;
}
/* ! Normalize CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "mikhak";
}
html {
  direction: rtl;
  font-size: 62.5%;
}
a {
  text-decoration: none;
  color: var(--font-color);
}
ul,
ol {
  list-style: none;
}
button,
input {
  border: none;
  outline: none;
}
body {
  font-size: 1.4rem;
  color: var(--font-color);
}
/* header */
.global-header {
  width: 100%;
  z-index: 999;
  background-color: var(--white);
  box-shadow: 0 0.125rem 0.25rem var(--shadow);
}
.wrapper-header {
  width: 90%;
  height: 8rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
  position: relative;
}
.global-logo img {
  width: 20rem;
}

.main-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.main-menu > li {
  position: relative;
  margin: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main-menu > li i {
  font-size: 1.2rem;
}
.main-menu > li:first-child {
  margin-right: 0;
}
.main-menu > li > a {
  display: block;
  padding: 1rem;
  border-bottom: 2px solid transparent;
  transition: all 0.4s;
}
.main-menu > li > a:hover {
  border-bottom: 2px solid var(--main-color);
}
.sub-menu {
  position: absolute;
  right: 0;
  left: 0;
  top: 100%;
  min-width: 20rem;
  min-height: 10rem;
  background-color: var(--primary-color);
  border-radius: 3px;
  text-align: center;
  display: none;
}
.sub-menu li {
  margin: 2px;
}
.sub-menu li a {
  padding: 1rem;
  display: block;
  border-radius: 3px;
}
.main-menu li:hover .sub-menu {
  display: block;
}
.sub-menu li a:hover {
  background-color: var(--main-color);
}

.global-login {
  position: absolute;
  left: 0;
  background-color: var(--main-color);
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 0.125rem 0.25rem var(--shadow);
}
.global-login span {
  margin-right: 0.5rem;
}
