/*? Variable */
:root {
  --font-color: #333;
  --white: #fff;
  --main-color: #fac800;
  --shadow-light: rgba(0, 0, 0, 0.075);
  --shadow-dark: rgba(0, 0, 0, 0.2);
  --primary-color: #f7f7f7;
  --border-color: #ccc;
}
/** fonts */
@font-face {
  font-family: "mikhak";
  src: url(../fonts/Mikhak-Medium.ttf);
  font-display: auto;
  font-style: normal;
  font-weight: 400;
}
/* ! Normalize CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "mikhak";
}
html {
  direction: rtl;
  font-size: 62.5%;
}
a {
  text-decoration: none;
  color: var(--font-color);
}
ul,
ol {
  list-style: none;
}
button,
input {
  border: none;
  outline: none;
}
img {
  width: 100%;
  height: auto;
}
body {
  font-size: 1.4rem;
  color: var(--font-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}
/* overly */
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--shadow-dark);
  pointer-events: auto;
  z-index: 1000;
  transition: all 0.4s linear;
  visibility: hidden;
  opacity: 0;
}
.overlay.active {
  visibility: visible;
  opacity: 1;
}
/* header */
.global-header {
  width: 100%;
  z-index: 999;
  background-color: var(--white);
  box-shadow: 0 0.125rem 0.25rem var(--shadow-light);
  transition: transform 0.4s ease-in-out;
}
.wrapper-header {
  width: 90%;
  height: 8rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
  position: relative;
}
/* logo => start */
.global-logo img {
  width: 20rem;
}
/* logo => start */
/*  main menu => start */
.main-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.main-menu > li {
  position: relative;
  margin: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main-menu > li i {
  font-size: 1.2rem;
}
.main-menu > li:first-child {
  margin-right: 0;
}
.main-menu > li > a {
  display: block;
  padding: 1rem;
  border-bottom: 2px solid transparent;
  transition: all 0.4s;
}
.main-menu > li > a:hover {
  border-bottom: 2px solid var(--main-color);
}
.sub-menu {
  position: absolute;
  right: 0;
  left: 0;
  top: 100%;
  min-width: 20rem;
  min-height: 10rem;
  background-color: var(--primary-color);
  border-radius: 3px;
  text-align: center;
  display: none;
  box-shadow: 0 0.5rem 0.5rem 0.1rem var(--shadow-light);
}
.sub-menu li {
  margin: 2px;
}
.sub-menu li a {
  padding: 1rem;
  display: block;
  border-radius: 3px;
}
.main-menu li:hover .sub-menu {
  display: block;
}
.sub-menu li a:hover {
  background-color: var(--main-color);
}
/*  main menu => end */
/* hamberger menu => start */
.menu-icon {
  position: absolute;
  left: 0;
  display: none;
}
.menu-icon i {
  font-size: 3.5rem;
}
.menu-icon .fa-times {
  display: none;
}
#nav {
  position: fixed;
  left: 0;
  height: 100vh;
  min-height: 100vh;
  background-color: #222324;
  width: 30rem;
  padding: 2rem;
  transition: transform 0.4s ease-in-out;
  transform: translateX(-100%);
}
#nav.active {
  transform: translateX(0);
}
/* hamberger menu => end */
/* login button => start */
.global-login {
  position: absolute;
  left: 0;
  background-color: var(--main-color);
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 0.125rem 0.25rem var(--shadow-light);
}
.global-login span {
  margin-right: 0.5rem;
}
/* login button => end */
/* popup => start */
.popup {
  width: 50rem;
  height: 50rem;
  box-shadow: 0.2rem 0.2rem 0.5rem var(--shadow-dark);
  position: absolute;
  top: 20%;
  margin: 0 auto;
  opacity: 0;
  display: none;
  border-radius: 3px;
  z-index: 1100;
  transition: all 0.4s linear;
  background-color: var(--white);
}
.popup.active {
  opacity: 1;
  display: block;
}
.header-popup {
  background-color: var(--main-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  border-radius: 3px 3px 0 0;
}
.header-popup > i {
  font-size: 2.5rem;
  cursor: pointer;
}
/* popup => end */
/* form => start */
.form {
  padding: 3rem 4rem;
}
.form-control {
  padding-bottom: 2rem;
  position: relative;
}
.form-control .input {
  direction: ltr;
  width: 100%;
  display: block;
  border: 2px solid var(--border-color);
  border-radius: 3px;
  padding: 1rem 1rem 1rem 3.5rem;
}
.form-control.success .input {
  border-color: green;
}
.form-control.error .input {
  border-color: red;
}
.form-control i {
  position: absolute;
  left: 1rem;
  top: 3.6rem;
  visibility: hidden;
  font-size: 2rem;
}
.form-control.success i.fa-check-circle {
  visibility: visible;
  color: green;
}
.form-control.error i.fa-exclamation-circle {
  visibility: visible;
  color: red;
}
.form-control small {
  visibility: hidden;
}
.form-control.error small {
  color: red;
  visibility: visible;
}
.form-control .btn {
  background-color: var(--main-color);
  display: block;
  border-radius: 3px;
  padding: 1rem;
  width: 100%;
}
/* form => end */
/* contaiiner => start */
.container {
  width: 100%;
  transition: transform 0.4s ease-in-out;
}

/* contaiiner => end */
/*  Responsive design */
@media screen and (max-width: 960px) {
  .global-menu {
    display: none;
  }
  .global-login {
    display: none;
  }
  .menu-icon {
    display: block;
  }
}
