/*? Variable */
:root {
  --font-color: #333;
  --white: #fff;
  --main-color: #fac800;
  --shadow-light: rgba(0, 0, 0, 0.075);
  --shadow-dark: rgba(0, 0, 0, 0.2);
  --primary-color: #f7f7f7;
  --border-color: #ccc;
  --dark: #222321;
}
/** fonts */
@font-face {
  font-family: "mikhak";
  src: url(../fonts/Mikhak-Medium.ttf);
  font-display: auto;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "mikhak";
  src: url(../fonts/Mikhak-Light.ttf);
  font-display: auto;
  font-style: normal;
  font-weight: 300;
}
/* ! Normalize CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "mikhak";
}
html {
  direction: rtl;
  font-size: 62.5%;
}
a {
  text-decoration: none;
  color: var(--font-color);
}
ul,
ol {
  list-style: none;
}
button,
input {
  border: none;
  outline: none;
}
img {
  width: 100%;
  height: auto;
}
body {
  font-size: 1.4rem;
  color: var(--font-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  min-width: 37.5rem;
  position: relative;
}
/* overly */
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  pointer-events: auto;
  z-index: 1000;
  transition: all 0.4s linear;
  visibility: hidden;
  opacity: 0;
}
.overlay.active {
  visibility: visible;
  opacity: 1;
}
/* top bar */
.top-bar {
  width: 100%;
  background-color: #000;
  color: var(--white);
  direction: ltr;
  transition: transform 0.4s ease-in-out;
}
.wrapper-top-bar {
  max-width: 90%;
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 4rem;
  margin: 0 auto;
  padding: 0 0.5rem;
}
.top-bar-items,
.top-bar-items-mobile {
  display: inline-block;
}
.top-bar-items-mobile {
  display: none;
}
.top-bar-items ul,
.top-bar-items-mobile ul {
  display: flex;
  flex-direction: row;
}
.top-bar-items ul li,
.top-bar-items-mobile ul li {
  margin-left: 2rem;
}
.top-bar-items ul li a {
  color: var(--white);
  font-weight: 300;
}
.top-bar-items ul li:first-child,
.top-bar-items-mobile ul li:first-child {
  margin-left: 0;
}
.fa-user {
  cursor: pointer;
}
/* header */
.global-header {
  width: 100%;
  z-index: 999;
  background-color: var(--white);
  box-shadow: 0 0.125rem 0.25rem var(--shadow-light);
  transition: transform 0.4s ease-in-out;
  position: relative;
}
.wrapper-header {
  width: 90%;
  height: 8rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
  position: relative;
}
/* logo => start */
.global-logo img {
  width: 20rem;
}
/* logo => start */
/*  main menu => start */
.main-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.main-menu > li {
  position: relative;
  margin: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main-menu > li i {
  font-size: 1.2rem;
}
.main-menu > li:first-child {
  margin-right: 0;
}
.main-menu > li > a {
  display: block;
  padding: 1rem;
  border-bottom: 2px solid transparent;
  transition: all 0.4s;
}
.main-menu > li > a:hover {
  border-bottom: 2px solid var(--main-color);
}
.sub-menu {
  position: absolute;
  right: 0;
  left: 0;
  top: 100%;
  min-width: 20rem;
  min-height: 10rem;
  background-color: var(--primary-color);
  border-radius: 3px;
  text-align: center;
  display: none;
  box-shadow: 0 0.5rem 0.5rem 0.1rem var(--shadow-light);
}
.sub-menu li {
  margin: 2px;
}
.sub-menu li a {
  padding: 1rem;
  display: block;
  border-radius: 3px;
}
.main-menu li:hover .sub-menu {
  display: block;
}
.sub-menu li a:hover {
  background-color: var(--main-color);
}
/*  main menu => end */
/* hamberger menu => start */
.menu-icon {
  position: absolute;
  left: 0;
  display: none;
}
.menu-icon i {
  font-size: 3.5rem;
  cursor: pointer;
}
.menu-icon .fa-times {
  display: none;
}
#nav {
  position: fixed;
  left: 0;
  height: 100vh;
  min-height: 100vh;
  background-color: var(--dark);
  width: 30rem;
  padding: 2rem;
  transition: transform 0.4s ease-in-out;
  transform: translateX(-100%);
}
#nav.active {
  transform: translateX(0);
}
.hamberger-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.hamberger-menu > li {
  position: relative;
}
.hamberger-menu > li > a {
  color: var(--white);
  font-size: 1.8rem;
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.3s linear;
  border-radius: 3px;
}
.hamberger-menu > li > a:hover {
  background-color: var(--font-color);
}
.hamberger-menu > li > i {
  font-size: 1.6rem;
  position: absolute;
  left: 1rem;
  top: 1rem;
  color: var(--white);
  pointer-events: none;
}
.search-form {
  position: relative;
  margin: 1rem 0;
}
.search-field {
  background-color: var(--font-color);
  color: var(--white);
  padding: 1rem 1rem 1rem 5rem;
  border-radius: 3px;
  width: 100%;
}
.search-submit {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  width: 3.8rem;
  height: 3.8rem;
  margin: 2px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.search-submit > i {
  font-size: 1.8rem;
}
.sub-menu-hamberger ul {
  display: none;
  padding-right: 1rem;
  margin: 0.5rem 0;
}
.sub-menu-hamberger ul.active {
  display: block;
}
.sub-menu-hamberger ul li {
  border-right: 1px solid var(--border-color);
}
.sub-menu-hamberger li a {
  color: var(--white);
  font-size: 1.6rem;
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.3s linear;
  border-radius: 3px;
}
.sub-menu-hamberger li a:hover {
  background-color: var(--font-color);
}

/* hamberger menu => end */
/* login button => start */
.global-login {
  position: absolute;
  left: 0;
  background-color: var(--main-color);
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 0.125rem 0.25rem var(--shadow-light);
}
.global-login span {
  margin-right: 0.5rem;
}
/* login button => end */
/* popup => start */
.popup {
  width: 50rem;
  height: 50rem;
  box-shadow: 0.2rem 0.2rem 0.5rem var(--shadow-dark);
  position: absolute;
  top: 10%;
  margin: 0 auto;
  opacity: 0;
  display: none;
  border-radius: 3px;
  z-index: 1100;
  transition: all 0.4s linear;
  background-color: var(--white);
}
.popup.active {
  opacity: 1;
  display: block;
}
.header-popup {
  background-color: var(--main-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  border-radius: 3px 3px 0 0;
}
.header-popup > i {
  font-size: 2.5rem;
  cursor: pointer;
}
/* popup => end */
/* form => start */
.form {
  padding: 3rem 4rem;
}
.form-control {
  padding-bottom: 2rem;
  position: relative;
}
.form-control .input {
  direction: ltr;
  width: 100%;
  display: block;
  border: 2px solid var(--border-color);
  border-radius: 3px;
  padding: 1rem 1rem 1rem 3.5rem;
}
.form-control.success .input {
  border-color: green;
}
.form-control.error .input {
  border-color: red;
}
.form-control i {
  position: absolute;
  left: 1rem;
  top: 3.6rem;
  visibility: hidden;
  font-size: 2rem;
}
.form-control.success i.fa-check-circle {
  visibility: visible;
  color: green;
}
.form-control.error i.fa-exclamation-circle {
  visibility: visible;
  color: red;
}
.form-control small {
  visibility: hidden;
}
.form-control.error small {
  color: red;
  visibility: visible;
}
.form-control .btn {
  background-color: var(--main-color);
  display: block;
  border-radius: 3px;
  padding: 1rem;
  width: 100%;
}
/* form => end */
/* contaiiner => start */
.container {
  width: 90%;
  transition: transform 0.4s ease-in-out;
}
#slider {
  padding: 1rem 0;
}
.test-text {
  text-align: justify;
}
/* count down  */
.wrapper-countdown {
  width: 100%;
  position: relative;
}
.countdown-container {
  width: 80%;
  height: 30%;
  background-color: transparent;
  position: absolute;
  top: 35%;
  margin: 0 auto;
  left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.countdown-container h1 {
  font-size: 4rem;
  color: var(--white);
}
.countdown-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  direction: ltr;
}
.countdown-item div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 2rem;
  color: var(--white);
  font-size: 3.5rem;
}
/* contaiiner => end */
/*  Responsive design */
@media screen and (max-width: 960px) {
  .global-menu {
    display: none;
  }
  .global-login {
    display: none;
  }
  .menu-icon {
    display: block;
  }
  .top-bar-items {
    display: none;
  }
  .top-bar-items-mobile {
    display: block;
  }
  .countdown-container h1 {
    font-size: 2.5rem;
  }
}
