/*? Variable */
:root {
  --font-color: #333;
  --white: #fff;
  --main-color: #fac800;
  --shadow-light: rgba(0, 0, 0, 0.075);
  --shadow-dark: rgba(0, 0, 0, 0.2);
  --primary-color: #f7f7f7;
  --border-color: #ccc;
  --dark: #222321;
}
/** fonts */
@font-face {
  font-family: "mikhak";
  src: url(../fonts/Mikhak-Medium.ttf);
  font-display: auto;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "mikhak";
  src: url(../fonts/Mikhak-Light.ttf);
  font-display: auto;
  font-style: normal;
  font-weight: 300;
}
/* ! Normalize CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "mikhak";
}
html {
  direction: rtl;
  font-size: 62.5%;
}
a {
  text-decoration: none;
  color: var(--font-color);
}
ul,
ol {
  list-style: none;
}
button,
input {
  border: none;
  outline: none;
}
img {
  width: 100%;
  height: auto;
}
body {
  font-size: 1.4rem;
  color: var(--font-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  min-width: 43rem;
  position: relative;
}
/* overly */
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  pointer-events: auto;
  z-index: 1000;
  transition: all 0.4s linear;
  visibility: hidden;
  opacity: 0;
}
.overlay.active {
  visibility: visible;
  opacity: 1;
}
/* top bar */
.top-bar {
  width: 100%;
  background-color: #000;
  color: var(--white);
  direction: ltr;
  transition: transform 0.4s ease-in-out;
}
.mini-cart-opener {
  position: relative;
  color: var(--white);
}
.mini-cart-opener .cart-number {
  position: absolute;
  top: -5px;
  right: -10px;
  font-size: 1.3rem;
}
.wrapper-top-bar {
  max-width: 90%;
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 4rem;
  margin: 0 auto;
  padding: 0 0.5rem;
  position: relative;
}
.top-bar-items,
.top-bar-items-mobile {
  display: inline-block;
}
.top-bar-items-mobile {
  display: none;
}
.top-bar-items ul,
.top-bar-items-mobile ul {
  display: flex;
  flex-direction: row;
}
.top-bar-items ul li,
.top-bar-items-mobile ul li {
  margin-left: 2rem;
}
.top-bar-items ul li a {
  color: var(--white);
  font-weight: 300;
}
.top-bar-items ul li:first-child,
.top-bar-items-mobile ul li:first-child {
  margin-left: 0;
}
.fa-user {
  cursor: pointer;
}
/* header */
.global-header {
  width: 100%;
  z-index: 999;
  background-color: var(--white);
  box-shadow: 0 0.125rem 0.25rem var(--shadow-light);
  transition: transform 0.4s ease-in-out;
  position: relative;
}
.wrapper-header,
.wrapper-search {
  width: 90%;
  height: 8rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
  position: relative;
  opacity: 1;
  transition: all 0.5s ease;
}
.wrapper-header.disabled {
  display: none;
  opacity: 0;
}
.wrapper-search {
  opacity: 0;
  display: none;
}
.wrapper-search.active {
  display: flex;
  opacity: 1;
}
.wrapper-search .search-form {
  width: 100%;
  height: 100%;
  position: relative;
}
.search-form .search-input {
  width: 100%;
  height: 100%;
  font-size: 2rem;
}
.search-form .search-button {
  position: absolute;
  left: 1rem;
  top: 1rem;
  border-radius: 3px;
  padding: 2rem;
  background-color: var(--primary-color);
  font-size: 1.5rem;
  cursor: pointer;
}
/* logo => start */
.global-logo img {
  width: 20rem;
}
/* logo => start */
/*  main menu => start */
.main-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.main-menu > li {
  position: relative;
  margin: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main-menu > li i {
  font-size: 1.2rem;
}
.main-menu > li:first-child {
  margin-right: 0;
}
.main-menu > li > a {
  display: block;
  padding: 1rem;
  border-bottom: 2px solid transparent;
  transition: all 0.4s;
}
.main-menu > li > a:hover {
  border-bottom: 2px solid var(--main-color);
}
.sub-menu {
  position: absolute;
  right: 0;
  left: 0;
  top: 100%;
  min-width: 20rem;
  min-height: 10rem;
  background-color: var(--primary-color);
  border-radius: 3px;
  text-align: center;
  display: none;
  box-shadow: 0 0.5rem 0.5rem 0.1rem var(--shadow-light);
}
.sub-menu li {
  margin: 2px;
}
.sub-menu li a {
  padding: 1rem;
  display: block;
  border-radius: 3px;
}
.main-menu li:hover .sub-menu {
  display: block;
}
.sub-menu li a:hover {
  background-color: var(--main-color);
}
/*  main menu => end */
/* hamberger menu => start */
.menu-icon {
  position: absolute;
  left: 0;
  display: none;
}
.menu-icon i {
  font-size: 3.5rem;
  cursor: pointer;
}
.menu-icon .fa-times {
  display: none;
}
#nav {
  position: fixed;
  left: 0;
  height: 100vh;
  min-height: 100vh;
  background-color: var(--dark);
  width: 30rem;
  padding: 2rem;
  transition: transform 0.4s ease-in-out;
  transform: translateX(-100%);
}
#nav.active {
  transform: translateX(0);
}
.hamberger-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.hamberger-menu > li {
  position: relative;
}
.hamberger-menu > li > a {
  color: var(--white);
  font-size: 1.8rem;
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.3s linear;
  border-radius: 3px;
}
.hamberger-menu > li > a:hover {
  background-color: var(--font-color);
}
.hamberger-menu > li > i {
  font-size: 1.6rem;
  position: absolute;
  left: 1rem;
  top: 1rem;
  color: var(--white);
  pointer-events: none;
}
.search-form {
  position: relative;
  margin: 1rem 0;
}
.search-field {
  background-color: var(--font-color);
  color: var(--white);
  padding: 1rem 1rem 1rem 5rem;
  border-radius: 3px;
  width: 100%;
}
.search-submit {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  width: 3.8rem;
  height: 3.8rem;
  margin: 2px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.search-submit > i {
  font-size: 1.8rem;
}
.sub-menu-hamberger ul {
  display: none;
  padding-right: 1rem;
  margin: 0.5rem 0;
}
.sub-menu-hamberger ul.active {
  display: block;
}
.sub-menu-hamberger ul li {
  border-right: 1px solid var(--border-color);
}
.sub-menu-hamberger li a {
  color: var(--white);
  font-size: 1.6rem;
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.3s linear;
  border-radius: 3px;
}
.sub-menu-hamberger li a:hover {
  background-color: var(--font-color);
}

/* hamberger menu => end */
/* login button => start */
.global-login {
  position: absolute;
  left: 0;
  background-color: var(--main-color);
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 0.125rem 0.25rem var(--shadow-light);
}
.global-login span {
  margin-right: 0.5rem;
}
/* login button => end */
/* popup => start */
.popup {
  width: 50rem;
  height: 50rem;
  box-shadow: 0.2rem 0.2rem 0.5rem var(--shadow-dark);
  position: absolute;
  top: 10%;
  margin: 0 auto;
  opacity: 0;
  display: none;
  border-radius: 3px;
  z-index: 1100;
  transition: all 0.4s linear;
  background-color: var(--white);
}
.popup.active {
  opacity: 1;
  display: block;
}
.header-popup {
  background-color: var(--main-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  border-radius: 3px 3px 0 0;
}
.header-popup > i {
  font-size: 2.5rem;
  cursor: pointer;
}
/* popup => end */
/* back to top =>start */
.back-to-top {
  position: fixed;
  left: 3rem;
  bottom: 3rem;
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--main-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.3s ease;
  cursor: pointer;
}
.back-to-top.active {
  opacity: 1;
}
.back-to-top i {
  font-size: 2rem;
}
/* back to top =>end */
/* form => start */
.form {
  padding: 3rem 4rem;
}
.form-control {
  padding-bottom: 2rem;
  position: relative;
}
.form-control .input {
  direction: ltr;
  width: 100%;
  display: block;
  border: 2px solid var(--border-color);
  border-radius: 3px;
  padding: 1rem 1rem 1rem 3.5rem;
}
.form-control.success .input {
  border-color: green;
}
.form-control.error .input {
  border-color: red;
}
.form-control i {
  position: absolute;
  left: 1rem;
  top: 3.6rem;
  visibility: hidden;
  font-size: 2rem;
}
.form-control.success i.fa-check-circle {
  visibility: visible;
  color: green;
}
.form-control.error i.fa-exclamation-circle {
  visibility: visible;
  color: red;
}
.form-control small {
  visibility: hidden;
}
.form-control.error small {
  color: red;
  visibility: visible;
}
.form-control .btn {
  background-color: var(--main-color);
  display: block;
  border-radius: 3px;
  padding: 1rem;
  width: 100%;
}
/* form => end */
/* container => start */
.container {
  width: 90%;
  transition: transform 0.4s ease-in-out;
}
#slider {
  padding: 1rem 0;
}
.wrapper {
  width: 100%;
  overflow-x: hidden;
}
.courses {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.courses .seprator {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2.5rem auto;
}
.courses .seprator .seprator-holder {
  height: 1px;
  border-top: 1px dashed var(--dark);
  flex: 1 1 auto;
}
.courses .seprator h4 {
  padding: 0 2rem;
  font-size: 1.5rem;
}
.wrapper-course,
.newest-course-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  flex-flow: row;
  margin-bottom: 4rem;
  transition: transform 1s ease;
}
.wrapper-course {
  opacity: 0;
  transform: translateX(-120%);
}
.wrapper-course.active {
  opacity: 1;
  transform: translateX(0);
}
.course {
  width: 22%;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  margin: 0.5rem auto;
  text-align: center;
  transition: all 0.3s ease;
}
.thumnail-course {
  position: relative;
}
.thumnail-course img {
  width: 100%;
  height: auto;
}
.video-btn,
.add-to-card-btn {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 4rem;
  height: 4rem;
  background-color: rgba(0, 0, 0, 0.37);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s ease;
  font-size: 1.8rem;
}
.add-to-card-btn {
  top: 6rem;
}
.video-btn > i,
.add-to-card-btn > i {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-btn:hover,
.add-to-card-btn:hover {
  background-color: var(--white);
  color: var(--font-color);
}
.content-course {
  display: flex;
  flex-direction: column;
}
.course-title {
  padding: 1rem;
  height: 4rem;
}
.course-title h3 {
  line-height: 1.5rem;
  font-size: 1.6rem;
  margin-bottom: 2rem;
  font-weight: 400;
}
.course-teacher {
  align-self: flex-end;
  padding: 1rem;
}
.course-meta {
  border-top: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
.newest-course-container .fa-angle-right,
.newest-course-container .fa-angle-left {
  font-size: 3rem;
  padding: 1rem;
}
.newest-course {
  overflow: hidden;
  width: 100%;
}
.course-container {
  display: -webkit-inline-box;
  transition: transform 0.3s ease-in-out;
  transform: translateX(0);
  width: 100%;
}
/* count down  */
.wrapper-countdown {
  width: 100%;
  position: relative;
}
.countdown-container {
  width: 80%;
  height: 30%;
  background-color: transparent;
  position: absolute;
  top: 35%;
  margin: 0 auto;
  left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.countdown-container h1 {
  font-size: 4rem;
  color: var(--white);
}
.countdown-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  direction: ltr;
}
.countdown-item div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 2rem;
  color: var(--white);
  font-size: 3.5rem;
}
/* shopping cart => start */
.shopping-cart-box {
  background-color: var(--primary-color);
  border-radius: 3px;
  box-shadow: 0 1rem 0.8rem 0 var(--shadow-dark);
  position: absolute;
  top: 4rem;
  left: -1.6rem;
  width: 35rem;
  z-index: 1500;
  display: none;
}
.shopping-cart-box.active {
  display: block;
}
.shopping-cart-box::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: 100%;
  left: 2rem;
  pointer-events: none;
  border: 0.8rem solid rgba(252, 252, 252, 0);
  border-radius: 2px;
  border-bottom-color: var(--primary-color);
}
.shopping-cart-items {
  width: 94%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.shopping-cart-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
}
.shopping-cart-item > img {
  max-width: 10rem;
  max-height: 10rem;
  border-radius: 3px;
  box-shadow: 0 1rem 0.8rem 0 var(--shadow-light);
}
.shopping-cart-item > i {
  font-size: 2rem;
  color: red;
}
.cart-item-content {
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  text-align: center;
}
.shopping-cart-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  text-align: center;
}
.shopping-cart-total {
  width: 90%;
  border-top: 1px solid var(--border-color);
  padding: 2rem;
  color: var(--font-color);
  font-size: 2rem;
}
.shopping-cart-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-bottom: 2rem;
}
.shopping-cart-buttons .button {
  padding: 1rem;
  width: 48%;
  background-color: #777;
  color: var(--white);
  border-radius: 5px;
  cursor: pointer;
  font-weight: 400;
}
.shopping-cart-buttons .orange {
  background-color: var(--main-color);
  color: var(--font-color);
}
/* shopping cart => end */
/* user comment */
.user-comment {
  width: 70%;
  overflow: hidden;
  margin-bottom: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  direction: ltr;
}
.comment-container {
  display: -webkit-inline-box;
  transition: transform 0.4s linear;
  transform: translateX(0);
  width: 100%;
}
.comment {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  position: relative;
}
.comment p {
  padding: 5rem;
  text-align: justify;
  line-height: 4.8rem;
  direction: rtl;
  margin-top: 5rem;
  box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.075);
}
.user-pic-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1rem;
}
.user-pic-box img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}
.dots-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  flex-direction: row;
}
.dots {
  width: 2rem;
  height: 2rem;
  border-radius: 3px;
  color: #fac800;
  background-color: #fac800;
  margin: 1rem;
  opacity: 0.5;
  cursor: pointer;
}
.dots:first-child {
  opacity: 1;
}
/* container => end */
/*  Responsive design */
@media screen and (max-width: 960px) {
  .global-menu {
    display: none;
  }
  .global-login {
    display: none;
  }
  .menu-icon {
    display: block;
  }
  .top-bar-items {
    display: none;
  }
  .top-bar-items-mobile {
    display: block;
  }
  .countdown-container h1 {
    font-size: 2.5rem;
  }
  .course {
    width: 45%;
  }
}
@media screen and (max-width: 720px) {
  .course {
    width: 100%;
  }
}
