/*? Variable */
:root {
  --font-color: #333;
  --white: #fff;
  --main-color: #fac800;
  --shadow-light: rgba(0, 0, 0, 0.075);
  --shadow-dark: rgba(0, 0, 0, 0.2);
  --primary-color: #f7f7f7;
  --border-color: #ccc;
  --dark: #222321;
}
/** fonts */
@font-face {
  font-family: "mikhak";
  src: url(../fonts/Mikhak-Medium.ttf);
  font-display: auto;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "mikhak";
  src: url(../fonts/Mikhak-Light.ttf);
  font-display: auto;
  font-style: normal;
  font-weight: 300;
}
/* ! Normalize CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "mikhak";
}
html {
  direction: rtl;
  font-size: 62.5%;
}
a {
  text-decoration: none;
  color: var(--font-color);
}
ul,
ol {
  list-style: none;
}
button,
input {
  border: none;
  outline: none;
}
img {
  width: 100%;
  height: auto;
}
body {
  font-size: 1.4rem;
  color: var(--font-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  min-width: 43rem;
  position: relative;
}
/* overly */
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  pointer-events: auto;
  z-index: 1000;
  transition: all 0.4s linear;
  visibility: hidden;
  opacity: 0;
}
.overlay.active {
  visibility: visible;
  opacity: 1;
}
/* top bar */
.top-bar {
  width: 100%;
  background-color: #000;
  color: var(--white);
  direction: ltr;
  transition: transform 0.4s ease-in-out;
}
.mini-cart-opener {
  position: relative;
  color: var(--white);
}
.mini-cart-opener .cart-number {
  position: absolute;
  top: -5px;
  right: -10px;
  font-size: 1.3rem;
}
.wrapper-top-bar {
  max-width: 90%;
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 4rem;
  margin: 0 auto;
  padding: 0 0.5rem;
  position: relative;
}
.top-bar-items,
.top-bar-items-mobile {
  display: inline-block;
}
.top-bar-items-mobile {
  display: none;
}
.top-bar-items ul,
.top-bar-items-mobile ul {
  display: flex;
  flex-direction: row;
}
.top-bar-items ul li,
.top-bar-items-mobile ul li {
  margin-left: 2rem;
}
.top-bar-items ul li a {
  color: var(--white);
  font-weight: 300;
}
.top-bar-items ul li:first-child,
.top-bar-items-mobile ul li:first-child {
  margin-left: 0;
}
.fa-user {
  cursor: pointer;
}
/* header */
.global-header {
  width: 100%;
  z-index: 999;
  background-color: var(--white);
  box-shadow: 0 0.125rem 0.25rem var(--shadow-light);
  transition: transform 0.4s ease-in-out;
  position: relative;
}
.wrapper-header,
.wrapper-search {
  width: 90%;
  height: 8rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
  position: relative;
  opacity: 1;
  transition: all 0.5s ease;
}
.wrapper-header.disabled {
  display: none;
  opacity: 0;
}
.wrapper-search {
  opacity: 0;
  display: none;
}
.wrapper-search.active {
  display: flex;
  opacity: 1;
}
.wrapper-search .search-form {
  width: 100%;
  height: 100%;
  position: relative;
}
.search-form .search-input {
  width: 100%;
  height: 100%;
  font-size: 2rem;
}
.search-form .search-button {
  position: absolute;
  left: 1rem;
  top: 1rem;
  border-radius: 3px;
  padding: 2rem;
  background-color: var(--primary-color);
  font-size: 1.5rem;
  cursor: pointer;
}
/* logo => start */
.global-logo img {
  width: 20rem;
}
/* logo => start */
/*  main menu => start */
.main-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.main-menu > li {
  position: relative;
  margin: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main-menu > li i {
  font-size: 1.2rem;
}
.main-menu > li:first-child {
  margin-right: 0;
}
.main-menu > li > a {
  display: block;
  padding: 1rem;
  border-bottom: 2px solid transparent;
  transition: all 0.4s;
}
.main-menu > li > a:hover {
  border-bottom: 2px solid var(--main-color);
}
.sub-menu {
  position: absolute;
  right: 0;
  left: 0;
  top: 100%;
  min-width: 20rem;
  min-height: 10rem;
  background-color: var(--primary-color);
  border-radius: 3px;
  text-align: center;
  display: none;
  box-shadow: 0 0.5rem 0.5rem 0.1rem var(--shadow-light);
}
.sub-menu li {
  margin: 2px;
}
.sub-menu li a {
  padding: 1rem;
  display: block;
  border-radius: 3px;
}
.main-menu li:hover .sub-menu {
  display: block;
}
.sub-menu li a:hover {
  background-color: var(--main-color);
}
/*  main menu => end */
/* hamberger menu => start */
.menu-icon {
  position: absolute;
  left: 0;
  display: none;
}
.menu-icon i {
  font-size: 3.5rem;
  cursor: pointer;
}
.menu-icon .fa-times {
  display: none;
}
#nav {
  position: fixed;
  left: 0;
  height: 100vh;
  min-height: 100vh;
  background-color: var(--dark);
  width: 30rem;
  padding: 2rem;
  transition: transform 0.4s ease-in-out;
  transform: translateX(-100%);
}
#nav.active {
  transform: translateX(0);
}
.hamberger-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.hamberger-menu > li {
  position: relative;
}
.hamberger-menu > li > a {
  color: var(--white);
  font-size: 1.8rem;
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.3s linear;
  border-radius: 3px;
}
.hamberger-menu > li > a:hover {
  background-color: var(--font-color);
}
.hamberger-menu > li > i {
  font-size: 1.6rem;
  position: absolute;
  left: 1rem;
  top: 1rem;
  color: var(--white);
  pointer-events: none;
}
.search-form {
  position: relative;
  margin: 1rem 0;
}
.search-field {
  background-color: var(--font-color);
  color: var(--white);
  padding: 1rem 1rem 1rem 5rem;
  border-radius: 3px;
  width: 100%;
}
.search-submit {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  width: 3.8rem;
  height: 3.8rem;
  margin: 2px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.search-submit > i {
  font-size: 1.8rem;
}
.sub-menu-hamberger ul {
  display: none;
  padding-right: 1rem;
  margin: 0.5rem 0;
}
.sub-menu-hamberger ul.active {
  display: block;
}
.sub-menu-hamberger ul li {
  border-right: 1px solid var(--border-color);
}
.sub-menu-hamberger li a {
  color: var(--white);
  font-size: 1.6rem;
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.3s linear;
  border-radius: 3px;
}
.sub-menu-hamberger li a:hover {
  background-color: var(--font-color);
}

/* hamberger menu => end */
/* login button => start */
.global-login {
  position: absolute;
  left: 0;
  background-color: var(--main-color);
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 0.125rem 0.25rem var(--shadow-light);
}
.global-login span {
  margin-right: 0.5rem;
}
/* login button => end */
/* popup => start */
.popup {
  width: 50rem;
  height: 50rem;
  box-shadow: 0.2rem 0.2rem 0.5rem var(--shadow-dark);
  position: absolute;
  top: 10%;
  margin: 0 auto;
  opacity: 0;
  display: none;
  border-radius: 3px;
  z-index: 1100;
  transition: all 0.4s linear;
  background-color: var(--white);
}
.popup.active {
  opacity: 1;
  display: block;
}
.header-popup {
  background-color: var(--main-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  border-radius: 3px 3px 0 0;
}
.header-popup > i {
  font-size: 2.5rem;
  cursor: pointer;
}
/* popup => end */
/* back to top =>start */
.back-to-top {
  position: fixed;
  left: 3rem;
  bottom: 3rem;
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--main-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.3s ease;
  cursor: pointer;
}
.back-to-top.active {
  opacity: 1;
}
.back-to-top i {
  font-size: 2rem;
}
/* back to top =>end */
/* form => start */
.form {
  padding: 3rem 4rem;
}
.form-control {
  padding-bottom: 2rem;
  position: relative;
}
.form-control .input {
  direction: ltr;
  width: 100%;
  display: block;
  border: 2px solid var(--border-color);
  border-radius: 3px;
  padding: 1rem 1rem 1rem 3.5rem;
}
.form-control.success .input {
  border-color: green;
}
.form-control.error .input {
  border-color: red;
}
.form-control i {
  position: absolute;
  left: 1rem;
  top: 3.6rem;
  visibility: hidden;
  font-size: 2rem;
}
.form-control.success i.fa-check-circle {
  visibility: visible;
  color: green;
}
.form-control.error i.fa-exclamation-circle {
  visibility: visible;
  color: red;
}
.form-control small {
  visibility: hidden;
}
.form-control.error small {
  color: red;
  visibility: visible;
}
.form-control .btn {
  background-color: var(--main-color);
  display: block;
  border-radius: 3px;
  padding: 1rem;
  width: 100%;
}
/* form => end */
/* container => start */
.container {
  width: 90%;
  transition: transform 0.4s ease-in-out;
}
#slider {
  padding: 1rem 0;
}
.wrapper {
  width: 100%;
  overflow-x: hidden;
}
.courses {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.courses .seprator {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2.5rem auto;
}
.courses .seprator .seprator-holder {
  height: 1px;
  border-top: 1px dashed var(--dark);
  flex: 1 1 auto;
}
.courses .seprator h4 {
  padding: 0 2rem;
  font-size: 1.5rem;
}
.wrapper-course,
.newest-course-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  flex-flow: row;
  margin-bottom: 4rem;
  transition: transform 1s ease;
}
.wrapper-course {
  opacity: 0;
  transform: translateX(-120%);
}
.wrapper-course.active {
  opacity: 1;
  transform: translateX(0);
}
.course {
  width: 22%;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  margin: 0.5rem auto;
  text-align: center;
  transition: all 0.3s ease;
}
.thumnail-course {
  position: relative;
}
.thumnail-course img {
  width: 100%;
  height: auto;
}
.video-btn,
.add-to-card-btn {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 4rem;
  height: 4rem;
  background-color: rgba(0, 0, 0, 0.37);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s ease;
  font-size: 1.8rem;
}
.add-to-card-btn {
  top: 6rem;
}
.video-btn > i,
.add-to-card-btn > i {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.video-btn > i:hover,
.add-to-card-btn > i:hover {
  background-color: var(--white);
  color: var(--font-color);
}
.content-course {
  display: flex;
  flex-direction: column;
}
.course-title {
  padding: 1rem;
  height: 4rem;
}
.course-title h3 {
  line-height: 1.5rem;
  font-size: 1.6rem;
  margin-bottom: 2rem;
  font-weight: 400;
}
.course-teacher {
  align-self: flex-end;
  padding: 1rem;
}
.course-meta {
  border-top: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
.newest-course-container .fa-angle-right,
.newest-course-container .fa-angle-left {
  font-size: 3rem;
  padding: 1rem;
}
.newest-course {
  overflow: hidden;
  width: 100%;
}
.course-container {
  display: -webkit-inline-box;
  transition: transform 0.3s ease-in-out;
  transform: translateX(0);
  width: 100%;
}
/* count down  */
.wrapper-countdown {
  width: 100%;
  position: relative;
}
.countdown-container {
  width: 80%;
  height: 30%;
  background-color: transparent;
  position: absolute;
  top: 35%;
  margin: 0 auto;
  left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.countdown-container h1 {
  font-size: 4rem;
  color: var(--white);
}
.countdown-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  direction: ltr;
}
.countdown-item div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 2rem;
  color: var(--white);
  font-size: 3.5rem;
}
/* shopping cart => start */
.shopping-cart-box {
  background-color: var(--primary-color);
  border-radius: 3px;
  box-shadow: 0 1rem 0.8rem 0 var(--shadow-dark);
  position: absolute;
  top: 4rem;
  left: -1.6rem;
  width: 35rem;
  z-index: 1500;
  display: none;
}
.shopping-cart-box.active {
  display: block;
}
.shopping-cart-box::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: 100%;
  left: 2rem;
  pointer-events: none;
  border: 0.8rem solid rgba(252, 252, 252, 0);
  border-radius: 2px;
  border-bottom-color: var(--primary-color);
}
.shopping-cart-items {
  width: 94%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.shopping-cart-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
}
.shopping-cart-item > img {
  max-width: 10rem;
  max-height: 10rem;
  border-radius: 3px;
  box-shadow: 0 1rem 0.8rem 0 var(--shadow-light);
}
.shopping-cart-item > i {
  font-size: 2rem;
  color: red;
}
.cart-item-content {
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  text-align: center;
}
.shopping-cart-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  text-align: center;
}
.shopping-cart-total {
  width: 90%;
  border-top: 1px solid var(--border-color);
  padding: 2rem;
  color: var(--font-color);
  font-size: 2rem;
}
.shopping-cart-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-bottom: 2rem;
}
.shopping-cart-buttons .button {
  padding: 1rem;
  width: 48%;
  background-color: #777;
  color: var(--white);
  border-radius: 5px;
  cursor: pointer;
  font-weight: 400;
}
.shopping-cart-buttons .orange {
  background-color: var(--main-color);
  color: var(--font-color);
}
/* shopping cart => end */
/* user comment */
.user-comment {
  width: 70%;
  overflow: hidden;
  margin-bottom: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  direction: ltr;
}
.comment-container {
  width: 100%;
  display: -webkit-inline-box;
  transition: transform 0.4s linear;
  transform: translateX(0) translate3d(0, 0, 0);
  animation: moveSlideShowComment 40s linear infinite;
}
.comment {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  position: relative;
}
.comment p {
  padding: 5rem;
  text-align: justify;
  line-height: 4.8rem;
  direction: rtl;
  margin-top: 5rem;
  box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.075);
}
.user-pic-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1rem;
}
.user-pic-box img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}
.dots-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  flex-direction: row;
}
.dots {
  width: 2rem;
  height: 2rem;
  border-radius: 3px;
  color: #fac800;
  background-color: #fac800;
  margin: 1rem;
  opacity: 0.5;
  cursor: pointer;
}
.dots:first-child {
  opacity: 1;
}
/* container => end */
/* footer => start */
.footer {
  width: 100%;
  background: #000;
  color: #fff;
}
.wrapper-footer {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 8rem auto;
}
.footer-widget-col {
  width: 50%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
}
.footer-widget-col.row {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 5rem;
}
.contact,
.quick-access {
  display: flex;
  flex-flow: column;
}
.quick-access {
  position: relative;
}
.contact .contact-title,
.quick-access .title {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  display: inline-block;
  position: relative;
}
.contact .contact-title::before,
.quick-access .title::before {
  content: "";
  width: 1.8rem;
  margin-top: 1.5rem;
  height: 4px;
  background-color: #ffb606;
  position: absolute;
  right: 8.4rem;
}
.quick-access .title::before {
  right: 11rem;
}
.contact ul,
.quick-access ul {
  width: 100%;
  display: flex;
  flex-flow: column;
}
.contact ul li,
.quick-access ul li {
  display: flex;
  flex-flow: row;
  align-items: center;
  color: #fff;
  font-size: 1.8rem;
}

.contact ul li i {
  margin-left: 1rem;
  font-size: 181.8rempx;
}
.contact ul li a {
  color: #fff;
}
.social-network {
  position: relative;
  right: -1rem;
}
.social-network i {
  font-size: 2.4rem;
  color: #fff;
  margin: 10px;
}
.footer-widget-col .bank-portal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
}
.footer-widget-col .bank-portal img {
  width: 6rem;
  height: 8.5rem;
  margin: 1.5rem;
}
.copy-right {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 2rem 0;
  border-top: 1px solid #222321;
}
/* *footer => end */
/* ?Course => start */
.page-title {
  width: 100%;
  background-color: #ebeef1;
  padding-bottom: 48px;
  padding-top: 48px;
}
.wrapper-Page {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-title .container {
  display: flex;
  justify-content: center;
  flex-flow: column;
}
.page-title .container h2 {
  font-size: 20px;
}
.page-title .container .breadcrumb {
  margin-top: 8px;
  display: flex;
  align-items: center;
  flex-flow: row;
}
.page-title .container .breadcrumb a {
  color: #000000;
  margin-left: 15px;
}
.page-title .container .breadcrumb i {
  margin-left: 20px;
  color: #000;
  font-size: 16px;
}
.course-container {
  background-color: #f8f9fa !important;
}
.course-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0 5rem;
}
.course-info {
  width: 60%;
  padding: 6rem 4rem;
  background-color: transparent;
}
.course-info .pic-course {
  width: 100%;
  height: 500px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 30px;
  position: relative;
}
.course-info .pic-course img {
  width: 100%;
  height: 100%;
}
.course-info .course-content {
  background-color: #fff;
  padding: 1.35rem;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  margin-bottom: 12px;
  position: relative;
}
.course-info .course-content .study-mode {
  position: absolute;
  height: 100%;
  top: 0;
  right: -50px;
}
.course-info .course-content .study-mode .study-mode-btn {
  padding: 5px;
  position: sticky;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
  margin: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  top: 150px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.course-info .course-content .study-mode .study-mode-btn .study-mode-text {
  writing-mode: vertical-rl;
  font-size: 13px;
  opacity: 0;
  visibility: hidden;
}
.course-info .course-content p {
  color: #7b868a;
  padding-top: 10px;
}
.course-info .course-content hr {
  background-color: rgba(0, 0, 0, 0.1);
  border: 0;
  height: 1px;
  margin-bottom: 23px;
  margin-top: 23px;
}
.course-info .course-content h4 {
  color: red;
  padding-bottom: 10px;
}
.course-detail-info {
  width: 40%;
  background-color: transparent;
  padding: 6rem 4rem;
  position: relative;
}
.course-info-box {
  background-color: #fff;
  padding: 1.35rem;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  margin-bottom: 12px;
}
.sell-course {
  color: #777;
  font-size: 16px;
  display: flex;
  border: 1px dashed #ddd;
  background-color: #f9f9f9;
  padding: 0 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  line-height: 52px;
  position: relative;
  justify-content: space-between;
}
.sell-course:before {
  content: "";
  width: 16px;
  height: 16px;
  border-left: 1px dashed #ddd;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: calc(50% - 8px);
  right: -9px;
}
.course-info-box button {
  width: 100%;
  background-color: #1fbd50;
  border-radius: 3px;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  font-size: 19px;
  border: 1px solid #1fbd50;
  color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 50px;
  box-shadow: 0 2px 12px rgba(31, 189, 80, 0.27);
}
.course-meta-info-list {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.course-meta-info-list .total-user {
  color: #555;
  border: 2px dotted #eaeaea;
  padding: 15px;
  font-size: 16px;
  text-align: center;
  border-radius: 10px;
  margin: 7px 0 16px 0;
}
.course-meta-info-list .total-user i {
  font-size: 30px;
}
.course-meta-info-list .total-user span {
  background-color: #f5f5f5;
  padding: 0 10px;
  border-radius: 5px;
  margin-right: 5px;
}
.course-meta-info-list .meta-info-unit {
  display: flex;
  font-size: 14px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px dashed #e9ecef;
  padding-top: 6px;
  color: #7b868a;
  padding-bottom: 6px;
}
.course-meta-info-list .meta-info-unit .icon {
  font-size: 20px;
  margin-right: 15px;
  margin-left: 10px;
  color: #7b868a !important;
}
.course-meta-info-list .progress-title {
  font-size: 15px;
  color: #7b868a;
  padding: 6px 15px;
}
.course-meta-info-list .progress-title i {
  font-size: 19px;
  margin-left: 15px;
  transform: translateY(3px);
}
.course-meta-info-list .progress-title .meter {
  height: 10px;
  position: relative;
  background: #dce5e8;
  margin-top: 10px;
  border-radius: 25px;
  direction: ltr;
}
.course-meta-info-list .progress-title .meter > span {
  display: block;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #1fbd50;
  position: relative;
  overflow: hidden;
}
.course-meta-info-list .progress-title .meter > span::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
  z-index: 1;
  background-size: 50px 50px;
  animation: move 2s linear infinite;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}
.course-meta-info-list .progress-title .meter > span > span {
  animation: move 2s linear infinite;
}
.glass {
  position: absolute;
  display: none;
  pointer-events: none;
  border-radius: 100%;
  border: 5px solid rgba(85, 85, 85, 0.4);
}
.course-section {
  background-color: #f7f7f7;
  padding: 10px 18px;
  border: 1px solid #e9ecef;
  border-radius: 3px;
}
.cousrse-section-title {
  margin: 0;
  padding: 18px 10px;
  position: relative;
}
.course-panel-heading {
  border-top: 1px solid #e9ecef;
  display: flex;
  align-items: center;
  padding: 15px;
  cursor: pointer;
}
.panel-heading-left {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.panel-heading-left .title h4 {
  color: #000000;
}
.panel-heading-right {
  display: flex;
  justify-content: flex-end;
}
.preview-button {
  font-size: 14px;
  line-height: 1.4;
  padding: 7px 10px;
  background-color: #000000;
  color: #fff;
  border-radius: 16px;
  display: flex;
  align-items: center;
  flex-flow: row;
}
.preview-button i {
  margin-left: 5px;
}
.cousrse-section-title i {
  position: absolute;
  left: 40px;
}
.deactive {
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  background-color: #f7f7f7;
  height: 0;
  max-height: 100%;
  transform: scaleY(0);
  transition: 0.5s;
}
/* ?Course => end */
/* *animations */
@keyframes moveSlideShowComment {
  100% {
    transform: translateX(-300%);
  }
}
@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}
/*  Responsive design */
@media screen and (max-width: 960px) {
  .global-menu {
    display: none;
  }
  .global-login {
    display: none;
  }
  .menu-icon {
    display: block;
  }
  .top-bar-items {
    display: none;
  }
  .top-bar-items-mobile {
    display: block;
  }
  .countdown-container h1 {
    font-size: 2.5rem;
  }
  .course {
    width: 45%;
  }
}
@media screen and (max-width: 720px) {
  .course {
    width: 100%;
  }
}
